<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main_layout.html}"
>

<head>
    <title>Inscription - PayMyBuddy</title> {/* Sera utilisé par th:insert="~{::title}" dans _layout */}
</head>
<body>
<!-- Ce div entier est le fragment qui sera passé au paramètre 'mainContent' du layout -->
<div id="page-content">
    <article>
        <hgroup>
            <h1>Inscription</h1>
            <h2>Créez votre compte PayMyBuddy</h2>
        </hgroup>

        <div th:if="${#fields.hasGlobalErrors() or #fields.hasErrors('userDto.email')}" role="alert" class="error-message" id="formErrors">
            <p th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err}">Erreur globale</p>
            <p th:if="${#fields.hasErrors('userDto.email') && !#fields.hasErrors('userDto.email[_]')}" th:errors="*{userDto.email}">Erreur sur l'email</p>
        </div>

        <form th:action="@{/register}" th:object="${userDto}" method="post" aria-describedby="formErrors">
            <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
            <label for="username">Nom d'utilisateur (Affichage)</label>
            <input type="text" id="username" th:field="*{username}" th:attr="aria-invalid=${#fields.hasErrors('username') ? 'true' : 'false'}" aria-describedby="usernameError" autocomplete="username">
            <small id="usernameError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message" role="alert"></small>
            <label for="email">Email (Connexion)</label>
            <input type="email" id="email" th:field="*{email}" required aria-required="true" th:attr="aria-invalid=${#fields.hasErrors('email') ? 'true' : 'false'}" aria-describedby="emailError" autocomplete="email">
            <small id="emailError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message" role="alert"></small>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" th:field="*{password}" required aria-required="true" th:attr="aria-invalid=${#fields.hasErrors('password') ? 'true' : 'false'}" aria-describedby="passwordError" autocomplete="new-password">
            <small id="passwordError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message" role="alert"></small>
            <button type="submit">S'inscrire</button>
        </form>
        <p>Déjà un compte ? <a th:href="@{/login}">Connectez-vous ici</a>.</p>
    </article>
</div>
</body>
</html>